html {
  background-color: hsl(217, 54%, 11%);
}

main {
  display: flex;
  height: 1000px;
}

.card {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 550px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  margin: 50%em auto;
  box-shadow: 1px 10px 50px 0px hsl(216, 50%, 16%);
}

.thumbnail {
  position: relative;
  float: left;
  width: 50%;
}
.thumbnail:hover{
    cursor: pointer;
}

.nft {
  opacity: 1;
  display: block;
  width: 300px;
  height: 300px;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin-left: -4em;
}

.overlay {
  width: 300px;
  height: 300px;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url(../images/icon-view.svg);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  background-color: hsl(178, 100%, 50%);
}

.thumbnail:active .nft {
  opacity: 0.8;
}

.thumbnail:active .overlay {
  opacity: 1;
  opacity: 0.6;
}

.title {
  color: hsl(0, 0%, 100%);
  align-self: flex-start;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  font-family: "Outfit";
  font-weight: 600;
  font-size: 18px;
}

.title:hover {
  cursor: pointer;
}

.title:active {
  color: hsl(178, 100%, 50%);
}

.text {
  padding-left: 1.5rem;
  text-align: justify;
  color: hsl(215, 51%, 70%);
  font-family: "Outfit";
  font-weight: 400;
  font-size: 16px;
  padding-right: 2em;
}

.value {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
}

.eth {
  padding-left: 2.5rem;
  color: hsl(178, 100%, 50%);
  font-family: "Outfit";
  font-weight: 500;

  background-repeat: no-repeat;
  background-position: 1.5rem;
}

.eth__item {
  background-image: url(../images/icon-ethereum.svg);
}
.days {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: hsl(215, 51%, 70%);
  font-family: "Outfit";

  background-repeat: no-repeat;
  background-position: left center;
}

.days__item {
  background-image: url(../images/icon-clock.svg);
}

hr {
  size: 1px;
  width: 85%;
  opacity: 20%;
}

.creator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-family: "Outfit";
  font-weight: 400;
  width: 100%;

  padding-top: 0.5rem;
}

.creator p {
  padding-right: 3rem;
  color: hsl(215, 51%, 70%);
}

.Jules {
  color: white;
}

.Jules:hover {
  cursor: pointer;
}

.Jules:active {
  color: hsl(178, 100%, 50%);
}

.avatar {
  max-width: 100%;
  height: auto;
  width: auto;
  border: 1px solid white;
  border-radius: 50%;
}


footer{
    display: flex;
    justify-content: center;
    font-family: 'Outfit';
}

.attribution{
    color: white;
}